* {
  box-sizing: border-box;
  }

body {
  margin: 0;
  font-family: "Lucida Grande";
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  height: 86px;
  width: 100%;
  background-color: #2b6ca5 !important;
  border-color: #2b6ca5 !important;
  top: 0;
  position: fixed;
  z-index: 10;
}
.header-left{
  float: left;
  margin-top: -2px;
  margin-left: 90px;
}

.header-right{
  float: right;
  margin-right: -30px;
  margin-top: -1px;
}

.conten-top1{
  padding: 5px 200px 100px 200px ;
  background-color: #badaf1;
  background-size: cover;
  color: white;
  text-align: center;
}

.conten-top2{
  padding: 5px 200px 100px 200px ;
  background-color: #badaf1;
  background-size: cover;
  color: white;
  text-align: center;
  margin-top: -105px;

}
.button-top{
  background-color: #badaf1;
  padding-bottom: 5px;
}

.contens{
  padding: 0px 0px 30px 0px;
  background-color: rgb(20, 29, 31) ;
  color:antiquewhite;
  border-radius: 20px;
  font-family: 'Times New Roman', Times, serif;
  opacity: 0.8;
}
.top-header{
  background-color: #2b6ca5;
  border-radius: 5px ;
}

.top-header h2{
  color: antiquewhite;
  text-align: center;
  font-size: 25px;
  padding: 15px 0px;
}
.dropzone {
  border: 10px dashed #3f3f3f;
  width: 70%;
  padding: 4% 0 4% 0;
  text-align: center;
  margin: 5px 0px 25px 0px;
  border-radius: 40px;
}
footer img {
  max-width: 80px;
}

footer p {
  color: #b3aeb5;
  font-size: 15px;
}

footer {
  padding: 20px;
  text-align: center;
  background: #252525 !important;
}
footer a{
  color: #2b6ca5;
}
.button{
  background-color: whitesmoke;
  padding: 15px 100px;
  display: inline-block;
  opacity: 0.8;
  border-radius: 10px;
  font-size: 15px;
  margin: 100px 0 0 0;
}
.logout{
  background-color: rgb(207, 13, 13);
  color: white;
  padding: 10px 20px;
  display: block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
  float: right;
  text-decoration: none;
}
.logout:hover {
  opacity: 10;
  cursor: pointer;
}

.divTableCell {
  padding: 3px 3px;
}

h1{
  text-align: center;
}

h3 {
  color: antiquewhite;
  text-align: center;
  font-size: 25px; 
}

.btn {
    padding: 12px 24px;
    color: black;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
    background-color: whitesmoke;
}    
.btn:hover {
  opacity: 10;
  cursor: pointer;
}

button:hover {
  cursor:pointer;
  opacity: 10;
}

a:hover {
  cursor:pointer;
}



.input-field{
  position: relative;
  margin: 20px 0;
}

.input-div-one{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.drag{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.input-field input{
  width: 350px;
  height: 60px;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
  border: 2px solid #fff;
  background: transparent;
  outline: none;
  color: #fff;
}

.input-field label{
  position:absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-10px);
  color: #fff;
  font-size: 19px;
  pointer-events: none;
  transition: 0.3s;
}
.but{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

input:focus{
  border: 2px solid #18ffff;
}

input:focus ~ label,
input:valid ~ label{
  top: 0;
  left: 15px;
  font-size: 16px;
  padding: 0 2px;
  background: #222121;
}

.greenspan {
  color: green;	  
}

.redspan {
  color: red;	  
}